@model LobbyUI.Models.UserDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserDetailsVM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.From.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Token)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Token)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Roles)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tbody>
                    @foreach (var role in Model.Roles)
                    {
                        <tr>
                            <td>
                                @role.Name
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Friends)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tbody>
                    @foreach (var friend in Model.Friends)
                    {
                        <tr>
                            <td>
                                @friend.UserName
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Groups)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tbody>
                    @foreach (var group in Model.Groups)
                    {
                        <tr>
                            <td>
                                @group.Name - @group.GroupType
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Posted)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tbody>
                    @foreach (var post in Model.Posted)
                    {
                        <tr>
                            <td>
                                <dl>
                                    <dt>
                                        @post.Title - @post.PostedBy.UserName - @post.PostedOn
                                    </dt>
                                    <dd>
                                        @post.Content
                                    </dd>
                                </dl>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wall)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tbody>
                    @foreach (var post in Model.Wall)
                    {
                        <tr>
                            <td>
                                <dl>
                                    <dt>
                                        @post.Title - @post.PostedBy.UserName - @post.PostedOn
                                    </dt>
                                    <dd>
                                        @post.Content
                                    </dd>
                                </dl>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
